body {
    background: #F6F2EA;
    font-family: "Playfair Display", serif;
}

header {
    text-align: center;
}

header h1 {
    color: #4E4032;
}

header h2 {
    color: #E1BD5D;
}

button {
    background: transparent;
    border: #E1BD5D;
    color: #A68A64;
    font: medium;
}

#btns {
    display: flex;
    justify-content: center;
    gap: 1px;
    color: #C1AD93;
}

.sections {
    background: white;
    border: 1px solid #E1BD5D;
    text-align: center;
}

#section-1 {
    display: none;
    width: 100%;
}

#section-2 {
    display: none;
    width: 100%;
}