/*Structure*/
body {
    background-color: #FADDA0;
}

/*header, main, footer {

}*/

header {
    color: #6699CC;
}

header h1 {
    text-align: center;
    padding: 20px;
}

main b {
    color: #6699CC;
}

footer {
    background-color: salmon;
    text-align: center;
    padding: 5px;
    margin: 0px;
}
/*Navigation*/
#main-nav a {
    background: transparent;
    text-decoration: none;
    color: white;
}

#main-nav a:hover {
    color: darkorchid;
}

#Titles ul {
    list-style-type: none;
    display: flex;
}

#main-nav ul {
    text-decoration-style: none;
    display: flex; /*<-- Flexbox for horizontal navigation */
}

#main-nav li {
    list-style-type: none;
    padding: 10px;
    flex: 1;
    /*background-color: salmon;*/
    text-align: left;
    border: #6699CC 1px solid;
    background-color: salmon;
    text-align: center;
}

.ideas {
    clear: both;
    margin: 10px;
    background-color: #6699CC;
    font-size: small;
    text-align: center;
    padding-top: 0px;
    display: flex;
    color: white;
}

#idea-1 {
    text-align: left;
    margin: 10px;
}

#idea-2 {
    text-align: left;
    margin: 10px;
}

#idea-3 {
    text-align: left;
    margin: 10px;
}

.ideas h3 p{
    display: inline-block;
}

#second-idea {
    background-color: #b3cbe6;
     margin: 1px 0px 1px 0px;
    font-size: small;
    text-align: center;
    padding-top: 0px;
    display: flex;
    color: white;
} 

#title-content-container {
    background: transparent;
    /*text-align: left;
    margin: 15px;*/
    padding: 15px;
    display: flex;
    float: right;
}

.title-content h4{
    background-color: #6699CC;
    color: white;
    padding: 5px;
    margin: 4px;
    text-align: center;
    
}

.title-content img {
    margin: 15px;

}

/*Smaller Resolutions*/
@media (max-width: 768px) {

    #main-nav ul {
    display: block; 
    }

    #title-content-container {
        display: block;
        float: none;
    }

    .title-content {
        text-align: center;
    }
}