/*Structure*/
body {
    background-color: #FADDA0;
}

/*header, main, footer {

}*/

header {
    color: #6699CC;
}

header h1 {
    text-align: center;
    padding: 20px;
}

main {

}

footer {
    background-color: salmon;
    text-align: center;
    padding: 5px;
    margin: 0px;
}
/*Navigation*/
#main-nav a {
    background: transparent;
    text-decoration: none;
    color: white;
}

#main-nav a:hover {
    color: darkorchid;
}

#Titles ul {
    list-style-type: none;
    display: flex;
}

#Titles li {
    color: white;
    background-color: #6699CC;
    flex: 1;
    margin: 2px;
    padding: 3px;
    text-align: center;
}

#images {
    margin: 10px;
}
#main-nav ul {
    text-decoration-style: none;
    display: flex; /*<-- Flexbox for horizontal navigation */
    background-color: salmon;
}

#main-nav li {
    list-style-type: none;
    padding: 10px;
    flex: 1;
    /*background-color: salmon;*/
    text-align: left;
    border: #6699CC 1px solid;
}

.ideas {
    margin: 1px 0px 1px 0px;
    background-color: #6699CC;
    font-size: small;
    text-align: center;
    padding-top: 0px;
    display: flex;
    color: white;
}

.ideas h3 p{
    display: inline-block;
}

#second-idea {
    background-color: #b3cbe6;
     margin: 1px 0px 1px 0px;
    font-size: small;
    text-align: center;
    padding-top: 0px;
    display: flex;
    color: white;
} 

#content-1 {
    background: transparent;
    text-align: left;
    margin: 15px;
    padding: 15px;
    display: flex;
    color: #6699CC;
    text-decoration: solid;
}