:root {
    --primary: #EFEAF3;
    --secondary: #5A2A82;
    --secondary-2: #FF4FA3;
    --secondary-3: #CCCC00;
    --secondary-4: #E5E5E5;
}
body {
    background: var(--primary);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary);
}

header {
    text-align: center;
}

header h1 {
    color: var(--secondary);
}

header h2 {
    color: var(--secondary-2);
}

main {
    text-align: center;
}

ul {
    list-style-type: none;
    margin-left: 20%;
}

li {
    justify-self: left;
    text-decoration: underline;
}

li:hover {
    color: var(--secondary-3);
}

#video-box {
    display: none;
    width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}


#dropbtn {
    background-color: var(--primary);
    color: var(--secondary);
    border: 1px var(--secondary) solid;
    cursor: pointer;
}

/* dropdown menu*/
.dropdown-content { 
    display: none; 
    position: absolute; 
    left: 0; 
    top: calc(100% + 6px); 
    background: var(--primary); 
    border: 1px solid rgba(0,0,0,0.06); 
    padding: 8px; 
    border-radius: 6px; 
}

.dropdown-content.show { 
    display: block; 
}


#btn-happy {
    background: var(--primary);
    border: 1px solid var(--secondary);
    color: var(--secondary);
}

#btn-disney {
    background: var(--primary);
    border: 1px solid var(--secondary);
    color: var(--secondary);
}


footer {
    text-align: center;
    margin-top: 100px;
}

@media (max-width: 1200px) {
    body {
        display: block;
    }

}