#main-content {
    font-family: Arial, sans-serif;
    background-color: seashell;
    color: brown;
    padding: 20px;
    border-radius: 10px;
    border: 10px solid salmon;
}

a {
    text-decoration: none;
    color: purple;
}

a:hover {
    color: #9999FF;
}