body {
background: lightcoral;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: black;
text-align: center;
}

.projects {
    display:flex; flex-wrap:wrap; 
} 

.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; /* pick a color */
border-radius: 25%;
}

.project img {
  width: 100%;       /* makes the image fit inside its project box */
  height: auto;      /* keeps proportions */
  display: block;    /* prevents inline overlap */
  border-radius: 10px; /* optional: rounded corners */
}
