#main-content {
    font-family: Arial, sans-serif;
    background-color: seashell;
    color: brown;
    padding: 20px;
    border-radius: 10px;
    border: 10px solid salmon;
}

#assgn-container {
    display:flex;
    /*flex-wrap: wrap;
    justify-content: center;*/
}
.assignments {
    padding: 10px;
    background-color: lightblue;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px;
    border-radius: 1px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: inline-block; 
    text-align: center;
}

.assignments img {
    width: 300px;
    height: 150px;
}

#project-container {
    display: flex;
}

.project-parts {
    padding: 10px;
    background-color: lightblue;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px;
    border-radius: 1px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: inline-block; 
    text-align: center;
}

.project-parts img {
    width: 300px;
    height: 150px;
}

a {
    text-decoration: none;
    color: purple;
}

a:hover {
    color: #9999FF;
}

/*Smaller Resolutions*/
@media (max-width: 1115px) {
    #main-content {
        padding: 10px;
    }
    #assgn-container {
        margin: 5px;
        padding: 5px;
        font-size: 14px;
        display: block;
    }

    #project {
        margin: 5px;
        padding: 5px;
        font-size: 14px;
        display: block;
    }

    #project-container {
        display: block;
    }
}