#main-content {
    font-family: Arial, sans-serif;
    background-color: #ecc2a3;
    color: brown;
    padding: 20px;
}

a {
    text-decoration: none;
    color: purple;
}

a:hover {
    color: lightblue;
}