/*Main Structure*/
body {
    font-family: Arial, Helvetica, sans-serifs;
    background: #bde0fe;
}

#main-content {
    width: 80%; /**Set width of main content**/
    margin: auto; /**Center the main content**/
}

#main-header {
    background: #ffafcc;
    position: relative;
}

#content {

}

#main-footer {

}

/*Header*/
#logo {
    margin: 10px;
}

#login-nav {
    position: absolute;
    right: 5%;
    top: 5%;
}

#login-nav li:not(:last-child):after {
    content: "|";
}

/*Gallery*/
#gallery section {
    background: lightgray;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

/*Square*/
.area {
    position: relative;
    background: #cdb4db;
}
#square {
    width: 100px;
    height: 100px;
    background: lightsalmon;

    /*Postition absolute is in respect to the upper left hand corner*/
    position: absolute;
    top: 50px;
    left: 50px;
}

.arrow {
    font-size: 1.5em;
    color: white;
    position: absolute;
    top: 50%;;
}

#prev {
    left: 5%;
}

#next {
    right: 5%;
}

#slide-desc {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: white;
    background: rgba(225, 225, 225, 0.5);
    padding: 5px;
    max-width: 40%;
}

/*Navigation*/
#main-nav {
    
}

#main-nav ul {
    padding-left: 0; /*Remove default padding, leaving no left space**/
}
#main-nav li {
    list-style-type: none; /*Remove bullet points**/
    background: #ffc8dd;
    padding: 5px;
    border-bottom: 1px solid #ffafcc;
}

#main-nav a {
    text-decoration: none; /*Remove underline**/
}
/*Typography*/
#main-header h1 {
    text-align: center; /*Center the header text**/
    padding-top: 10px;
}

/*Larger Devices*/
@media (min-width: 768px) {
    #content {
        justify-content: space-between;
        gap: 1em;
    }
    
    .columns {
        display: flex;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
    }

    .four {
        flex: 4;
    }
}

#main-nav ul {
    display: flex;
}

#main-nav li {
    background: transparent;
    flex: 1;
}

#main-nav a {
    color: darkslateblue;
}

#main-nav a:hover {
    border-bottom: 1px solid darkslateblue;
}