/*Main Structure
Get remaining code from Ms. Portia's example and modify it
*/
:root {
    --main-background: #bde0fe;
    --main-headers: purple;
    --amount:50%;
}

body {
    font-family: Arial, Helvetica, sans-serifs;
    background: var(--main-background);
}

#main-content {
    width: 80%; /**Set width of main content**/
    margin: auto; /**Center the main content**/
}

#main-header {
    background: #ffafcc;
    position: relative;
}

#gallery section {
    background-color: white;
    padding: 10px;
    margin: 15px;
    min-width: 29%;
    min-height: 250px;
}
#content {

}

#main-footer {

}

/*Header*/
#logo {
    margin: 10px;
}

#login-nav {
    position: absolute;
    right: 5%;
    top: 5%;
}

#login-nav li:not(:last-child):after {
    content: "|";
}

/*Gallery*/
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#gallery section {
    background: #E4D1E4;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

/*Square*/
.area {
    position: relative;
    background: #cdb4db;
}
#square {
    width: 100px;
    height: 100px;
    background: lightsalmon;

    /*Postition absolute is in respect to the upper left hand corner*/
    position: absolute;
    top: 50px;
    left: 50px;
}

.arrow {
    font-size: 1.5em;
    color: white;
    position: absolute;
    top: 50%;;
}

#prev {
    left: 5%;
}

#next {
    right: 5%;
}

#slide-desc {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: white;
    background: rgba(225, 225, 225, 0.5);
    padding: 5px;
    max-width: 40%;
}

/*Buttons*/

/*Navigation*/
#p-date {
    /*display: absolute;*/
    top: 10px;
    color: white;
}
#toggle-nav div {
    width: 25px;
    height: 2px;
    background: darkslateblue;
    margin: 6px 0;
}
#main-nav {
    
}

#main-nav ul {
    padding-left: 0; /*Remove default padding, leaving no left space**/
}
#main-nav li {
    list-style-type: none; /*Remove bullet points**/
    background: #ffc8dd;
    padding: 5px;
    border-bottom: 1px solid #ffafcc;
}

#main-nav a {
    text-decoration: none; /*Remove underline**/
}
#ball-playground {
    position: relative;
}
#ball {
    width: 25px;
    height: 25px;
    background: magenta;
    border-radius: 25px;
    position: absolute;
}

.bounce {
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

input {
    border: 2px solid black;
    border-radius: 3px;
}

@keyframes bounce {
    0% {
        top: 0px;
        background: magenta;
    }
    25% {
        background: orange;
    }
    50% {
        top: 200px;
        background: green;
    }
    75% {
        background: red;
    }
    100% {
        top: 0px;
        background: pink;
    }
}
/***Thermometer
Get code from Ms. Portia's example and modify it to fit the money raising section

*/


/*Typography*/
#main-header h1 {
    text-align: center; /*Center the header text**/
    padding-top: 10px;
}

.hide-small {
    display: block;
}
/*Larger Devices*/
@media (min-width: 768px) {
    #content {
        justify-content: space-between;
        gap: 1em;
    }
    
    .columns {
        display: flex;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
    }

    .four {
        flex: 4;
    }

    #main-nav ul {
    display: flex;
}

    #main-nav li {
        background: transparent;
        flex: 1;
    }

    #main-nav a {
        color: darkslateblue;
    }

    #main-nav a:hover {
        border-bottom: 1px solid darkslateblue;
    }

    #toggle-nav {
        display: none;
    }

    .hide-small {
        display: flex;
    }
}