body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header img {
    height: 510px;
    width: 100%;
}
#navs {
    background: #F8D7E0;
    height: 91px;
    display: flex;
    color: #6B7A8F;
    align-items: center;
    font-family: "Playfair Display", sans-serif;
}

#navs h2 {
    font-size: 36px;
}

#navs ul {
    display: flex;
    gap: 20px;
    margin-left: auto;
    list-style-type: none;
    margin-right: 20px;
    font-size: x-large;
}

main {
    height: 1265px;
    background: #F8D7E0;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 45px;
}

footer {
    height: 203.23px;
    background: #EDBABA;
    margin-bottom: 0;
}