body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header img {
    height: 510px;
    width: 100%;
}
#navs {
    background: #F8D7E0;
    height: 91px;
    display: flex;
    color: #6B7A8F;
    align-items: center;
    font-family: "Playfair Display", sans-serif;
}

#navs h2 {
    font-size: 36px;
}

#navs ul {
    display: flex;
    gap: 20px;
    margin-left: auto;
    list-style-type: none;
    margin-right: 20px;
    font-size: x-large;
}

main {
    height: 1265px;
    background: #F8D7E0;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 45px;
}

.destinations-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
}

.dest-info img {
    width: 384.6px;
    height: 256.4px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0;
}

.dest-info p {
    text-align: center;
    background: white;
    width: 385px;
    height: 75px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 0px;
    font-size: 36px;
    padding-top: 10px;
}

#main-question {
    margin-top: 63px;
}

footer {
    height: 203.23px;
    background: #EDBABA;
    margin-bottom: 0;
}