body {
    margin: 0;
    display: flex;
    flex-direction: column;
    /*height: 2069px;*/
}

header img {
    height: 510px;
    width: 100%;
}
#navs {
    background: #F8D7E0;
    height: 91px;
    display: flex;
    color: #6B7A8F;
    align-items: center;
    font-family: "Playfair Display", sans-serif;
}

#navs a {
    color: #6B7A8F;
    text-decoration: none;
}

#navs a:hover {
    color: #AA336A;
}

#navs h2 {
    font-size: 36px;
}

#navs ul {
    display: flex;
    gap: 20px;
    margin-left: auto;
    list-style-type: none;
    margin-right: 20px;
    font-size: x-large;
}

main {
    /*height: 1265px;*/
    background: #F8D7E0;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 45px;
}

.destinations-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 80px 0;
    /*margin-left: auto;
    margin-right: auto;*/
}

/*#row-2 {
    margin-top: 70px;
}*/
.dest-info img {
    width: 384.6px;
    height: 256.4px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0;
}

.dest-info p {
    text-align: center;
    background: white;
    width: 385px;
    height: 75px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -18px;
    font-size: 36px;
    padding-top: 10px;
    text-shadow: #6B7A8F 1px 1px 1px;
}

#main-question {
    margin-top: 195px;
}

footer {
    height: 203.23px;
    background: #EDBABA;
    margin-bottom: 0;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
}

#btn-account {
    background: #F6A67D;
    border-radius: 40px;
    width: 592.12px;
    height: 75.73px;
    font-size: 40px;
    font-family: "Playfair Display", sans-serif;
    margin-top: 35px;
}

#btn-account:hover {
    background: #DD9571;
}

footer a {
    color: #FCF9C5;
    text-decoration: none;
}

footer a:hover {
    color: #CFCFE1;
}

/*Stars*/
.star {
    color: white;
    font-size: 50px;
}

#star-1 {
    position: absolute;
    top: 605px;
    left: 50px;
}

#star-2 {
    position: absolute;
    top: 605px;
    left: 240px;
}

#star-3 {
    position: absolute;
    top: 605px;
    left: 454px;
}

#star-4 {
    position: absolute;
    top: 605px;
    left: 716px;
}

#star-5 {
    position: absolute;
    top: 605px;
    left: 920px;
}

#star-6 {
    position: absolute;
    top: 605px;
    left: 1148px;
}

#star-7 {
    position: absolute;
    top: 1030px;
    left: 50px;
}

#star-8 {
    position: absolute;
    top: 1146px;
    left: 173px;
}

#star-9 {
    position: absolute;
    top: 1030px;
    left: 367px;
}

#star-10 {
    position: absolute;
    top: 1146px;
    left: 562px;
}

#star-11 {
    position: absolute;
    top: 1030px;
    left: 769px;
}

#star-12 {
    position: absolute;
    top: 1146px;
    left: 939px;
}

#star-13 {
    position: absolute;
    top: 1030px;
    left: 1121px;
}

#star-14 {
    position: absolute;
    top: 1613px;
    left: 50px;
}

#star-15 {
    position: absolute;
    top: 1735px;
    left: 33px;
}

#star-16 {
    position: absolute;
    top: 1585px;
    left: 386px;
}

#star-17 {
    position: absolute;
    top: 1695px;
    left: 199px;
}

#star-18 {
    position: absolute;
    top: 1809px;
    left: 211px;
}

#star-19 {
    position: absolute;
    top: 1585px;
    left: 750px;
}

#star-20 {
    position: absolute;
    top: 1673px;
    left: 578px;
}

#star-21 {
    position: absolute;
    top: 1607px;
    left: 1114px;
}

#star-22 {
    position: absolute;
    top: 1696px;
    left: 920px;
}

#star-23 {
    position: absolute;
    top: 1801px;
    left: 463px;
}

#star-24 {
    position: absolute;
    top: 1794px;
    left: 812px;
}

#star-25 {
    position: absolute;
    top: 1792px;
    left: 1152px;
}

#star-26 {
    position: absolute;
    top: 1894px;
    left: 51px;
}

#star-27 {
    position: absolute;
    top: 1932px;
    left: 198px;
}

#star-28 {
    position: absolute;
    top: 1977px;
    left: 51px;
}

#star-29 {
    position: absolute;
    top: 1932px;
    left: 1030px;
}

#star-30 {
    position: absolute;
    top: 1894px;
    left: 1189px;
}

#star-31 {
    position: absolute;
    top: 1977px;
    left: 1170px;
}