:root {
    --primary: #FFEDCC;
    --secondary-1: #4D3200;
    --secondary-2: #FFAE1A;
}

body {
    background: var(--primary);
}

header {
    text-align: center; /*This moves the text to the center horizontally*/
}

header h1 {
    color: var(--secondary-1);
}

header h2 {
    color: var(--secondary-2);
}

#songs-list {
    display: flex;
    justify-content: space-between;
}

/*Individual Song Layout*/
.song {
    background: red;
    color: white;
    /*padding: 5px;*/
    margin: 10px;
    height: 300px;
    width: 300px;
    text-align: center;
    border-radius: 20px;
}

.song img {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: white;
}