body {
    background: #f8d7e0;
}

#fish-bowl {
    background: #E6E6E6;
    border-radius: 260px;
    width: 600px;
    height: 500px;
    border: 7px white solid;
    justify-self: center;
    display: flex;
    align-items: center;
    
}

#fish-bowl-cover {
    background: #E6E6E6;
    border-radius: 260px;
    width: 500px;
    height: 50px;
    justify-self: center;
    border: 7px white solid;
    position: absolute;
}

#water {
    background: linear-gradient(0deg, #3495C7, #B0DBF1);
    border-radius: 260px;
    width: 510px;
    height: 410px;
    justify-self: center;
    margin-left: 45px;
    margin-top: 50px;
}

#bubbles {
    list-style-type: none;
}

#bubble-1 {
    left: 570px;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 25px;
    position: absolute;
}

#bubble-2 {
    left: 670px;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 25px;
    position: absolute;
}

#bubble-3 {
    left: 610px;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 25px;
    position: absolute;
}

#bubble-4 {
    left: 730px;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 25px;
    position: absolute;
}

#bubble-5 {
    left: 520px;
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 25px;
    position: absolute;
}

/*Edit Positions of bubble 6 - 8*/
#bubble-6 {
    left: 670px;
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 25px;
    position: absolute;
}

#bubble-7 {
    left: 670px;
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 25px;
    position: absolute;
}

#bubble-8 {
    left: 670px;
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 25px;
    position: absolute;
}



.float {
    animation-name: float;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes float {
    0% {
        top: 450px;
    }
    25% {
        top: 350px;
    }
    50% {
        top: 250px;
    }
    75% {
        top: 150px;
    }
    100% {
        top: 100px;
    }
}
/**

/*.bubbles {
    position:absolute;
}

.bubbles li {
    position: absolute;
    display: block;
    list-style-type: none;
    width: 20px;
    height: 20px;
    background: white;
    /*box-shadow: inset 5px -5px 10px white;
    border: 2px white solid;
    border-radius: 10px;
    animation: rotate 5s linear infinite;

}

.bubbles li:nth-child(1) {
    left: 35%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.bubbles li:nth-child(2) {
    left: 75%;
    width: 50px;
    height: 50px;
    animation-delay: 2s;
    animation-duration: 10s;
}

.bubbles li:nth-child(3) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}

.bubbles li:nth-child(4) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}

.bubbles li:nth-child(5) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}

.bubbles li:nth-child(6) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}

.bubbles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}

.bubbles li:nth-child(8) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}

.bubbles li:nth-child(9) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}

.bubbles li:nth-child(10) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}*/