body {
    background: #f8d7e0;
}

#fish-bowl {
    background: #E6E6E6;
    border-radius: 260px;
    width: 600px;
    height: 500px;
    border: 7px white solid;
    justify-self: center;
}

#fish-bowl-cover {
    background: #E6E6E6;
    border-radius: 260px;
    width: 500px;
    height: 100px;
    justify-self: center;
    border: 7px white solid;
    border-radius: 10px;
}

#water {
    background: #6666ff;
    border-radius: 260px;
    width: 400px;
    height: 300px;
    justify-self: center;
}