body {
    margin: 0px;
}

:root {
    --primary: #F8D7E0;
    --secondary: #EDBABA;
    --secondary-2: #6B7A8F;
    --secondary-3: #F6A67D;
    --secondary-4: #FBF5EE;
    --secondary-5: #E2F67D;
    --secondary-6: #D9D9D9;
}

header img {
    /*height: 656px;*/
    width: 100%;
}

#navs {
    background: var(--primary);
    /*height: 91px;*/
    display: flex;
    color: #6B7A8F;
    align-items: center;
    font-family: "Playfair Display", sans-serif;
}

#navs a {
    color: var(--secondary-2);
    text-decoration: none;
}

#navs a:hover {
    color: #AA336A;
}

#navs h2 {
    font-size: 36px;
}

#navs ul {
    display: flex;
    gap: 20px;
    margin-left: auto;
    list-style-type: none;
    margin-right: 20px;
    font-size: x-large;
}

#page-content {
    /*height: 1265px;*/
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    margin-top: -5px;
    height: 1080px;
    background: linear-gradient(45deg, var(--primary), var(--secondary-4), var(--primary), var(--secondary-4), var(--primary), var(--secondary-4), var(--primary), var(--secondary-4), var(--primary), var(--secondary-4), var(--primary));
}

#reviews-row-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#reviews-row-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 220px;
}

.stars-row {
    display: flex;
    margin-top: -35px;
    margin-left: 13px;
}

.stars {
    font-size: 55px;
    color: var(--secondary-5);
}

.gray-stars {
    font-size: 55px;
    color: var(--secondary-6);
}



.review {
    background: white;
    width: 377px;
    height: 371px;
    border-radius: 20px;
    box-shadow: 0px 2px var(--secondary-2);
    text-align: left;
    /*margin-left: 10px;*/
}

.comment {
    font-size: 24px;
    margin-top: -50px;
    margin-left: 13px;
}

.customer {
    font-size: 30px;
    font-weight: bold;
    margin-left: 13px;
}

footer {
    background: var(--secondary);
    height: 277px;
    /*margin-bottom: 0px;*/
    align-content: center; /* Puts the contact section in the center of the footer*/
}

#contact-section {
    background: var(--secondary-3);
    height: 197px;
    width: 1154px;
    border-radius: 15px;
    justify-self: center;
    box-shadow: -3px 3px black;
    font-family: "Playfair Display", sans-serif;
    display: flex;
}

.mini-header {
    font-size: 36px;
    margin-top: 10px;
}

.info {
    font-size: 24px;
}

.info-section {
    display: block;
}

#contact-us-section {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border: 2px black solid;
    text-align: center;
}

#headquarters-section {
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    text-align: center;
}

#social-media-section {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px black solid;
    text-align: center;
}

@media (max-width: 1200px) {
    .review {
        height: 340px;
        margin-top: 10px;
        align-content: center;
    }

    .stars-row {
        margin-top: -20px;
    }

    .comment {
        margin-top: -60px;
    }

    #reviews-row-1 {
        display: block;
        margin-top: 3px;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    #reviews-row-2 {
        display: block;
        margin-top: 3px;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    #page-content {
        display: flex;
        justify-content: space-evenly;
    }

    #contact-section {
        max-width: 80%;
        height: 460px;
        display: block;
    }

    #contact-us-section {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
    }

    #headquarters-section {
        border-left: 2px black solid;
        border-right: 2px black solid;
    }

    #social-media-section {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 0px;
    }

    footer {
        height: 500px;
    }
}

@media (max-width: 950px) {
    /*#page-content {
        display: block;
    }

    .review {
        justify-content: center;
    }

    #reviews-row-1 {
        justify-content: center;
    }

    #reviews-row-2 {
        align-content: center;
    }*/
    
    footer {
        height: 700px;
    }

    #contact-section {
        margin-top: 15px;
        height: 555px;
    }
    
}

@media (max-width: 800px) {
    #page-content {
        margin-top: -15px;
        margin-bottom: 0px;
        display: block;
        justify-items: center;
        height: 100%;
    }
}