body {
    margin: 0px;
}

:root {
    --primary: #F8D7E0;
    --secondary: #EDBABA;
    --secondary-2: #6B7A8F;
    --secondary-3: #E9DAE9;
    --secondary-4: #F6A67D;
}

header img {
    /*height: 656px;*/
    width: 100%;
}

#navs {
    background: var(--primary);
    /*height: 91px;*/
    display: flex;
    color: #6B7A8F;
    align-items: center;
    font-family: "Playfair Display", sans-serif;
}

#navs a {
    color: var(--secondary-2);
    text-decoration: none;
}

#navs a:hover {
    color: #AA336A;
}

#navs h2 {
    font-size: 36px;
}

#navs ul {
    display: flex;
    gap: 20px;
    margin-left: auto;
    list-style-type: none;
    margin-right: 20px;
    font-size: x-large;
}

#page-content {
    /*height: 1265px;*/
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 45px;
    margin-top: -5px;
}

#who-we-are {
    background: var(--primary);
}

#who-we-are h4 {
    margin: 0px;
}

#our-mission {
    background: var(--secondary-3);
    /*margin-top: -5px;*/
}

#our-mission h4 {
}

#our-vision {
    background: var(--primary);
}

#our-vision h4 {
    margin: 0px;
}

footer {
    background: var(--secondary);
    height: 277px;
    /*margin-bottom: 0px;*/
    align-content: center; /* Puts the contact section in the center of the footer*/
}

#contact-section {
    background: var(--secondary-4);
    height: 197px;
    width: 1154px;
    border-radius: 15px;
    justify-self: center;
    box-shadow: -3px 3px black;
}