body {
    margin: 0px;
}

:root {
    --primary: #F8D7E0;
    --secondary: #EDBABA;
    --secondary-2: #6B7A8F;
    --secondary-3: #F6A67D;
    --secondary-4: #FBF5EE;
    --secondary-5: #E2F67D;
    --secondary-6: #D9D9D9;
}

header img {
    /*height: 656px;*/
    width: 100%;
}

#navs {
    background: var(--primary);
    /*height: 91px;*/
    display: flex;
    color: #6B7A8F;
    align-items: center;
    font-family: "Playfair Display", sans-serif;
}

#navs a {
    color: var(--secondary-2);
    text-decoration: none;
}

#navs a:hover {
    color: #AA336A;
}

#navs h2 {
    font-size: 36px;
}

#navs ul {
    display: flex;
    gap: 20px;
    margin-left: auto;
    list-style-type: none;
    margin-right: 20px;
    font-size: x-large;
}

#page-content {
    /*height: 1265px;*/
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    margin-top: -5px;
    height: 1080px;
    background: linear-gradient(45deg, var(--primary), var(--secondary-4), var(--primary), var(--secondary-4), var(--primary), var(--secondary-4), var(--primary), var(--secondary-4), var(--primary), var(--secondary-4), var(--primary));
}

#reviews-row-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#reviews-row-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 220px;
}

.stars-row {
    display: flex;
    margin-top: -35px;
    margin-left: 13px;
}

.stars {
    font-size: 55px;
    color: var(--secondary-5);
}

.gray-stars {
    font-size: 55px;
    color: var(--secondary-6);
}



.review {
    background: white;
    width: 377px;
    height: 371px;
    border-radius: 20px;
    box-shadow: 0px 2px var(--secondary-2);
    text-align: left;
    /*margin-left: 10px;*/
}

.comment {
    font-size: 24px;
    margin-top: -50px;
    margin-left: 13px;
}

.customer {
    font-size: 30px;
    font-weight: bold;
    margin-left: 13px;
}

footer {
    background: var(--secondary);
    height: 277px;
    /*margin-bottom: 0px;*/
    align-content: center; /* Puts the contact section in the center of the footer*/
}

#contact-section {
    background: var(--secondary-3);
    height: 197px;
    width: 1154px;
    border-radius: 15px;
    justify-self: center;
    box-shadow: -3px 3px black;
    font-family: "Playfair Display", sans-serif;
    display: flex;
}

.mini-header {
    font-size: 36px;
}

.info {
    font-size: 24px;
}

.info-section {
    display: block;
}